fastapi==0.110.1
uvicorn==0.24.0
pydantic==2.7.0
python-dotenv
pymongo
dnspython
requests
python-multipart
bcrypt
jwt
pymongo
requests
PyJWT
passlib[bcrypt]
python-multipart
starlette
cryptography
dnspython
email-validator
typing-extensions
Werkzeug
watchfiles
websockets
PyYAML
pylance
httpx
Jinja2


